export MATRIX_IDENTIFIER="@anyone:anywhere.net"
export MATRIX_PASSWORD="anything"
export TIME_TO_SOLVE=10 # minutes

export IGNORED_USERS="
@archive:matrix.org

@telegram_[0-9]+:t2bot.io
@slack_[0-9]+:t2bot.io
@discord_[0-9]+:t2bot.io
@_xmpp_.+:matrix.org
"